.videosCard {
width: 25vw;
height: 45vh;
margin: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.videosCard a{
   
    color: grey;
    background-color: rgb(222, 218, 218);
    border-radius: 100%;
    padding: 25px;
    transition: all 0.5s;
    border: none;
    
}
.videosCard:hover a{
    background-color: rgb(249, 249, 220);
    color: rgb(51, 51, 51);
}
.videosCard p{
   color: white;
   margin: 1rem 0;
}